@media only screen and (max-width: 900px) {
  .navbar {
    margin: 0;
    padding: 0;
  }

  .navbar__logo {
    width: 9rem;
    position: absolute;
    top: 5rem;
  }

  .navbar__list {
    width: 100%;
    flex-direction: column;
    margin: 0;
    position: fixed;
    z-index: 0;
    top: 0;
    bottom: 0;
    left: 0em;
    right: 0;
    background-color: #1c252cea;
    border-radius: 0;
    opacity: 0;
    transition: 0.5s;
  }

  .navbar__list.active {
    transition: 0.5s;
    opacity: 1;
    z-index: 100;
  }

  .navbar__list li {
    margin: 1rem 0;
    font-size: 1.3rem;
    font-weight: bold;
  }

  .navbar__list li > * {
    color: $color-primary-light;
  }

  .navbar__logo {
    margin: 0;
    margin-bottom: 1rem;
  }

  //   CAROUSEL SECTION BELOW

  .carousel {
    height: 650px;
  }

  .carousel__info {
    flex-direction: column;
    width: 100%;
  }

  .carousel__item-wrapper {
    flex-direction: column;
    height: inherit;
  }

  .carousel__text {
    padding: 0;
  }

  .carousel__wrapper-img {
    width: 100% !important;
  }

  .carousel__logo {
    width: 4rem;
    margin: 0;
  }
  .carousel__text {
    align-items: center;
  }
  .carousel__text small {
    font-size: 1rem;
  }

  .carousel__text div {
    margin-top: 20px;
    align-items: center;
  }

  .carousel__text p {
    font-size: 1.5rem;
    text-align: center;
    margin-top: 1rem;
  }

  .social__icons {
    flex-direction: row;
    margin: 0;
    margin-top: 1rem;
    margin-left: 1rem;
    padding: 0;
  }

  .social__icons > * {
    width: 28px;
  }

  .carousel-indicators {
    display: none !important;
  }

  .arrow__left,
  .arrow__right {
    width: 45px;
  }

  //   PROPOSAL SECTION BELOW

  .proposal {
    flex-direction: column;
    margin-top: 9rem;
  }

  .proposal__question {
    display: none;
  }

  .proposal__info {
    width: 100%;
  }

  .proposal__info h1 {
    text-align: center;
    margin-bottom: 3.5rem;
  }

  .proposal__info h2 {
    text-align: center;
  }

  .proposal__info-content {
    padding: 0;
  }

  .proposal__info p {
    padding: 0 map-get($margin-padding, sm) + 1;
  }

  .first__slide {
    display: none;
  }

  //   CARDS SECTION BELOW

  .cards h1 {
    padding: 0rem;
    width: 100%;
    font-size: 3.2rem;
    text-align: center;
    margin-bottom: 4.1rem;
  }

  .cards h4 {
    padding: 0 1rem;
    font-size: 1.1rem;
    text-align: center;
  }

  .personalized__bullets {
    left: 10rem !important;
  }

  //   CONTACT SECTION BELOW

  .contact {
    flex-direction: column;
    width: 100%;
  }

  .form__wrapper {
    width: 90%;
  }

  .contact h1 {
    text-align: center;
  }

  .contact__info {
    width: 100%;
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .contact__info div {
    width: 50%;
    margin: 1rem 0;
  }

  .send__btn {
    align-self: center;
  }

  //   FOOTER SECTION BELOW

  .footer__top {
    flex-direction: column;
  }

  .footer__bottom {
    flex-direction: column;
    height: 7rem;
    text-align: center;
  }
}

@media only screen and (min-width: 1025px) {
  .burguer {
    display: none !important;
  }
}

@media only screen and (max-width: 1200px) {
  .carousel__text p {
    font-size: 1.8rem;
  }

  .proposal__info h1 {
    padding-left: 5rem;
  }

  .proposal__info-content h2 {
    padding-left: 5rem;
  }

  .proposal__info-content p {
    padding-left: 5rem;
    padding-right: 1rem;
  }
}
