.navbar {
  @include flex-center;
  justify-content: space-between;
  margin-top: 2em;
  padding: 0;
}

.navbar__list {
  @include flex-center;
  width: 100%;
  padding: 1.2em;
  border-bottom-right-radius: 30px;
  box-shadow: 0px 3px 2px #e6e6e6;
}

.navbar__list li > * {
  text-decoration: none;
  color: $color-font-gray;
  margin: 0 20px;
  font-size: 1.1em;
}

.navbar__logo {
  width: 5.9rem;
  margin-right: 2.6rem;
  font-weight: bold;
}
