@import "./mixins";
@import "./variables";

body {
  @include flex-center;
  font-family: "Roboto", sans-serif !important;
}

.page__wrapper {
  width: 95%;
  @include flex-center;
  flex-direction: column;
}

.burguer {
  color: $color-black;
  font-size: 1.6rem;
  font-weight: bold;
  border-radius: 50%;
  padding: 0.3rem;
  position: fixed;
  top: 0.5rem;
  left: 1.5rem;
  z-index: 150;
  border-radius: 20%;
  background-color: white;
}

@import "./reset";
@import "node_modules/@glidejs/glide/src/assets/sass/glide.core";
@import "node_modules/@glidejs/glide/src/assets/sass/glide.theme";
@import "./navbar";
@import "./carousel";
@import "./proposal";
@import "./firstSlide";
@import "./secondSlide";
@import "./contact";
@import "./footer";
@import "./mediaQueries";
